@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
    box-sizing: border-box;
    margin-top: 10px;
    height: 100vh;
    
}

.container{
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

p{
    color: #a7a7a7 ;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    
}

svg{
    color: #f9f9f9 !important;
}

.sadbar{
    display: flex;
    flex-direction: row;
}

.ib{
    background-color: #121212;
    margin-bottom: 10px;
    width: 324px;
    margin-left: 10px;
    height: 112px;
    border-radius: 8px;
}

.biblioteca{
    background-color: #121212;
    width: 324px;
    height: 75vh !important;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    

}

.text-center{
    max-width: 100vh;
}

.fy{
    background-image: linear-gradient( rgba(42,42,42), rgba(12,12,12));
    width: 100%;
    height: 88vh;
    border-radius: 8px;
    margin-left: 0px;
    align-items: start;
}

.sb{
    z-index: 999;
    width: 44vh;
    
}

@media only screen and (max-width: 1500px) {
    .sb {
        margin-right: 3vh !important;
    }
  }

.menu{

}

.iq{
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-size: 16px;
}

.icons-biblioteca>svg{
    width: 40px !important;
}

.icons-biblioteca{
    display: flex;
    justify-content:flex-end

}

.icons-bg1{
    display: flex;
    flex-direction: row !important;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 80px;
}

.col-iq-lupa{
    padding-right: 18px;
}

.icons-bg2{
    display: flex;
    flex-direction: row !important;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 80px;
}

.icons-bg2>.col>p{
    display: flex;
    flex-direction: row !important;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 80px;
    color: #a7a7a7 !important;
}

.icons-bg2>.col>p:hover{
    display: flex;
    flex-direction: row !important;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 80px;
    color: #f9f9f9 !important;
}

.icons-bg2>span>svg:hover{
    fill: #f9f9f9 !important;
}

.main-biblioteca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    height: 100;
}

.icon-bb{
    margin-top: -4px;
}

.icons-biblioteca{
    margin-top: 10px;
}

.arrows-fy{
    margin-top: 25px;
    margin-left: 15px;
}

.arrows-fy>img{
    padding: 8px;
}

.pr-arrow:hover{
    background-color: #0a0a0a !important;
}

.playlist{
    display: flex;
    text-align: center;
}

.playlist>p{
    background-color: #1C1C1C !important;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
}

.playlist>p:hover{
    background-color: #272727 !important;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
}

.good-temp p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #f9f9f9;
}

.playlists-1, .playlists-2{
    max-width: 100%;
    height: 90px;
}

.playlists-1{
    margin-bottom: 12px;
}

.sub-lists-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303030;
    margin-bottom: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.sub-lists-1:hover{
    background-color: #60605e;
}

.sub-lists-1 img{
    width: 80px;
    height: 90px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: -12px;
}

.sub-lists-1 p{
    display: flex;
    align-items: start;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #f9f9f9;
    margin-top: 20px;
    margin-left: -158px;
}

#id-sub-lists-1{
    margin-right: 12px;
}

#id-sub-lists-2{
    margin-right: 12px;
}

#id-sub-lists-4{
    margin-right: 12px;
}

#id-sub-lists-5{
    margin-right: 12px;
}

.sub-lists-1 .button-green{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    border-radius: 100%;
}



.icons-bg1:hover .iq>svg, .dini p{
    fill: #fff;
}

.icons-bg1:hover .dini p{
    color: #fff;
}

.icons-bg1:hover .col-iq-lupa>svg, .dbus p{
    fill: #fff;
}

.icons-bg1:hover .dbus p{
    color: #fff;
}

.icons-biblioteca{
    fill: #a7a7a7;
}

.icons-biblioteca svg:hover{
    background-color: #1C1C1C;

}

.icons-biblioteca{
    height: 20px;
}